body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
}

nav{
    background:#222;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.container{
    text-align:center;
    margin-top:40px;
}

#chat{
    width:80%;
    max-width:700px;
    height:300px;
    background:white;
    border:1px solid #ccc;
    margin:20px auto;
    overflow-y:auto;
    padding:15px;
    text-align:left;
}

input{
    width:250px;
    padding:10px;
}

button{
    padding:10px 15px;
    margin:5px;
    cursor:pointer;
}

#buttons{
    margin-top:15px;
}
